
@import "css3.less";


/* TYPOGRAPHY */

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75%;
    color: #444;
}

h1,
h2{
	color: #383529;
	font-size: 18px; 
}
h2 span{
	color: #666;
	font-weight: normal;
}

h3{
	font-size: 1.3em;
	color: #333;
	margin-bottom: 5px;
}
h3 a:link{
	color: #2854BB;
}
h3 a:visited{
	color: #AEC3E7;
}
h3 a:hover,
h3 a:active{
	color: #333;
	text-decoration: none;
}

h4{
	color: #333;
}
h4{
	font-size: 17px;
}

h5,
h6{
	color: #000;
}
h5{
	font-size:15px;
}
h6{
	font-size: 13px;
}

li{
	list-style: none;
}

a:link, a:visited{
    color: #5F88CE;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: underline;
}




* {
    margin: 0;
    padding: 0
}

.hidden{
	display: none;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited,
.btn-secondary:link,
.btn-secondary:visited{
	display: block;
	float: left;
	padding: 7px 9px 7px 6px;
	.border-radius;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.btn-primary{
	cursor: pointer;
	border: 1px solid #799E3C;
	.linear-gradient(#8EAF53, #799E3C);
	.text-shadow(#619C33, 0, -1px, 0);
}
.btn-primary:hover{
	text-decoration: none;
}

.btn-secondary{
	.linear-gradient(#0066A6, #005991);
	.text-shadow(#023B83, 0, -1px, 0);
}
.btn-secondary:hover{
	.linear-gradient(#0167a7, #1b84c8);
}


.new-feature-strip{
	padding: 12px 0;
	background: #f2f5f9;
	text-align: center;
	font-weight: bold;
	.text-shadow(#fff, 0, 1px, 0);
	a:hover {
		text-decoration: none;
	}
	.btn-primary{
		display: inline;
		float: none;
		margin-left: 10px;
		padding: 5px;
	}
}

.digg-logo{
	margin-right: 10px;
	display: block;
	float: left;
}

.header-band {
	overflow: hidden;
	padding-bottom: 4px;
	padding-top: 7px;
	background: #195695;
	.btn-primary, 
	.btn-secondary{
		border: 1px solid #15497F;
	}
	
	li a{
		margin: 3px 6px 0 6px;
		padding: 5px 10px;
		display: block;
		float: left;
		font-size: 13px;
		font-weight: bold;
		color: #fff;
		&:hover{
			text-decoration: none;
		}
		
	}
	.active{
		.border-radius(15px);
		background: #164673;
	}
}

.loggedout-navigation .btn-primary,
.loggedout-navigation .btn-secondary{
	margin: 0 6px;
}

#header-search-form{
	float: left;
	input{
		width: 170px;
		margin-left: 6px;
		margin-top: 3px;
		padding: 5px;
		border: none;
		border-right: 1px solid #507C0C;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		font-size: 1.08em;
		color: #7AA1C2;
	}
	.btn-primary{
		float: right;
		margin-top: -27px;
		margin-left: -2px;
		.border-radius(0);
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		span{
			display: block;
			width: 13px;
			height: 12px;
		}
	}
}


.main-content-band{
	background: -webkit-gradient(linear,left top,left 35,from(#E5ECF3),to(white));
	background: -moz-linear-gradient(top,#E5ECF3,white 35px);
	padding-top: 10px;
}

.pre-column{
	padding-bottom: 2px;
	border-bottom: 1px solid #CCDCEF;
}

.topic-nav{
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCDCEF;
	li{
		margin-right: 10px;
		overflow: hidden;
		float: left;
		a{
			display: block;
			float: left;
			padding: 5px 9px 9px 9px;
			font-weight: bold;
			color: #105CB6;
		}
	}
}

.active-topic a{
	padding: 5px 9px 7px 9px;
	background-color: #E3E8F4;
	border: 1px solid #CCDCEF;
	.border-radius(15px);
}

.section-header{
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #80A1C1;
	h1{
		display: inline;
	}
}

.dropdown-menu{
	position: relative;
	display: inline;
	margin-left: 10px;
	ul {
		position: absolute;
		display: none;
		left: 0;
		background: #fff;
		width: 150px;
		a{
			display: block;
			padding: 5px;
			border: 1px solid #80A1C1;
			border-top: none;
		}
	}
	&:hover ul{
		display: block;
	}
}

.main-content-columns{
	margin-top: 20px;
	.stories > div{
		padding: 10px 0;
		border-bottom: 1px solid #CCDCEF;
		.story-item-teaser{
			color: #666;
			word-wrap: break-word;
			&:hover{
				text-decoration: none;
			}
			.timestamp{
				color: #999;
			}
		}
		.crawl4link {
			display: none;
		}
	}

}

.story-item-content{
	padding-right: 60px;
}
.story-item-media{
	width: 56px;
	float: right;
	a{
		display: block;
		height: 48px;
		border: 4px solid #E5ECF3;
		&:hover{
			border: 4px solid #105CB6;
		}
	}
}
.no-media .story-item-content{
	padding-right: 0;
}

.digg-btn{
	margin-right: 12px;
	display: block;
	float: left;
	width: 54px;
	height: 68px;
	background-image: url('../images/story_items.png');
	background-position: 101px -26px;
	a:hover{
		text-decoration: none;
	}
	.digg-count{
		margin-bottom: 7px;
		padding-top: 10px;
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		color: #716B14;
	}
	.digg-it{
		margin-left: 4px;
		display: block;
		width: 46px;
		height: 24px;
		background-image: url('../images/story_items.png');
		background-position: 46px -26px;	
	}
}

.side-column{	
	li.group{
		border-bottom: 1px solid #CDDEF0;
		padding: 5px 40px 5px 0;
	}
	
	img{
		width: 30px;
		height: 30px;
	}
}

.title{
	font-weight: bold;
	color: #105CB6;
	font-size: 1.08333333333em;
}
.votes{
	float: left;
	display: block;
	margin-right: 7px;
	padding: 3px 5px;
	background: #FFF7CA;
	font-size: .916666666667em;
	color: #A19D84;
	.border-radius(3px);
	strong{
		font-size: 1.08333333333em;	
		color: #333;
	}
}
.meta{
	color: #999;
	font-size: .916666666667em;
}


.pagination{
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	background: #EEE;
	overflow: hidden;
	position: relative;
	.border-radius;
}

.prev,
.next{
	float: left;
	padding-top: 8px;
	height: 24px;
	overflow: hidden;
	a{
		padding: 8px;
		background-color: #F3F3F3;
		.linear-gradient(#FFF, #F3F3F3);
		.border-radius;
		border: 1px solid #AAA;
		text-shadow: white 0 1px 0;
		span{
			color: #333;
			font-weight: bold;
		}
		&:hover{
			text-decoration: none;
		}
		z-index: 10;
	}
}
.next{
	float: right;
}
.page-num{
	float: left;
	margin-left: 40%;
	margin-top: 5px;
	color: #999;
	font-size: 1.08333333333em;
}

.footer{
	margin-bottom: 25px;
	padding-top: 10px;
	border-top: 1px solid #80A1C1;
	li{
		display: block;
		float: left;
		margin-right: 15px;
		a{
			font-weight: bold;
			color: #105CB6;
			font-size: .916666666667em;
		}
	}
}

#feedback-bar{
	margin: 0;
	padding: 3px 10px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
	.linear-gradient(#F3F3F3, #FFF);
	border-top: 1px solid #AAA;
	font-size: .833333333333em;
	color: #333;
	span{
		float: left;
		font-weight: bold;
	}
	ul{
		margin-right: 20px;
		float: right;
		li{
			float: left;
			a{
				margin: 0 10px;
				font-weight: bold;
				color: #105CB6;
			}
		}	
	}
}


@media (max-width: 720px){
	.footer{
		margin-bottom: 70px;
	}
}

@media (max-width: 480px){
	
	.new-feature-strip button{
		margin-top: 5px;
	}

	.header-band .header-nav{
		clear: both;
		margin-left: 59px;
		a{
			margin-bottom: 8px;
		}
	}
	
	.loggedout-navigation, 
	form{
		margin-left: 69px;
		margin-bottom: 5px;	
	}
	
	form{
		margin-top: 6px; 
	}
}