
@import "css3.less";


/* TYPOGRAPHY */

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75%;
    color: #444;
}

h1,
h2{
	color: #383529;
	font-size: 18px; 
}
h2 span{
	color: #666;
	font-weight: normal;
}

h3{
	font-size: 1.3em;
	color: #333;
	margin-bottom: 5px;
}
h3 a:link{
	color: #2854BB;
}
h3 a:visited{
	color: #AEC3E7;
}
h3 a:hover,
h3 a:active{
	color: #333;
	text-decoration: none;
}

h4{
	color: #333;
}
h4{
	font-size: 17px;
}

h5,
h6{
	color: #000;
}
h5{
	font-size:15px;
}
h6{
	font-size: 13px;
}

li{
	list-style: none;
}

a:link, a:visited{
    color: #5F88CE;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: underline;
}




* {
    margin: 0;
    padding: 0
}

.hidden{
	display: none;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited,
.btn-secondary:link,
.btn-secondary:visited{
	display: block;
	float: left;
	padding: 7px 9px 7px 6px;
	.border-radius;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.btn-primary{
	cursor: pointer;
	border: 1px solid #799E3C;
	.linear-gradient(#8EAF53, #799E3C);
	.text-shadow(#619C33, 0, -1px, 0);
}
.btn-primary:hover{
	text-decoration: none;
}

.btn-secondary{
	.linear-gradient(#0066A6, #005991);
	.text-shadow(#023B83, 0, -1px, 0);
}
.btn-secondary:hover{
	.linear-gradient(#0167a7, #1b84c8);
}


.new-feature-strip{
	padding: 12px 0;
	background: #f2f5f9;
	text-align: center;
	font-weight: bold;
	.text-shadow(#fff, 0, 1px, 0);
	a:hover {
		text-decoration: none;
	}
	.btn-primary{
		display: inline;
		float: none;
		margin-left: 10px;
		padding: 5px;
	}
}

.header-band {
	overflow: hidden;
	padding-bottom: 4px;
	padding-top: 7px;
	background: #195695;
	.btn-primary, 
	.btn-secondary{
		border: 1px solid #15497F;
	}
	
	.digg-logo{
		margin-right: 10px;
		display: block;
		float: left;
	}
	
	li a{
		margin: 3px 6px 0 6px;
		padding: 5px 10px;
		display: block;
		float: left;
		font-size: 13px;
		font-weight: bold;
		color: #fff;
		&:hover{
			text-decoration: none;
		}
		
	}
	.active{
		.border-radius(15px);
		background: #164673;
	}
	
	.loggedout-navigation .btn-primary,
	.loggedout-navigation .btn-secondary{
		margin: 0 6px;
	}
	
	#header-search-form{
		float: left;
		input{
			width: 170px;
			margin-left: 6px;
			margin-top: 3px;
			padding: 5px;
			border: none;
			border-right: 1px solid #507C0C;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			font-size: 1.08em;
			color: #7AA1C2;
		}
		.btn-primary{
			float: right;
			margin-top: -27px;
			margin-left: -2px;
			.border-radius(0);
			-webkit-border-top-right-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-topright: 5px;
			-moz-border-radius-bottomright: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			span{
				display: block;
				width: 13px;
				height: 12px;
			}
		}
	}
}

.main-content-band{
	background: -webkit-gradient(linear,left top,left 35,from(#E5ECF3),to(white));
	background: -moz-linear-gradient(top,#E5ECF3,white 35px);
	padding-top: 10px;
}

.pre-column{
	padding-bottom: 2px;
	border-bottom: 1px solid #CCDCEF;
	
	.topic-nav{
		overflow: hidden;
		padding-bottom: 10px;
		border-bottom: 1px solid #CCDCEF;
		
		li{
			margin-right: 10px;
			overflow: hidden;
			float: left;
			a{
				display: block;
				float: left;
				padding: 5px 9px 9px 9px;
				font-weight: bold;
				color: #105CB6;
			}
		}
		.active-topic a{
			padding: 5px 9px 7px 9px;
			background-color: #E3E8F4;
			border: 1px solid #CCDCEF;
			.border-radius(15px);
		}
	}
}

.main-content-columns{
	margin-top: 20px;
	
	.section-header{
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #80A1C1;
		
		h1{
			display: inline;
		}
		
		.dropdown-menu{
			display: inline;
			margin-left: 10px;
			ul {
				display: none;
			}
		}
	}
	
	.stories > div{
		padding: 10px 0;
		border-bottom: 1px solid #CCDCEF;
		
		.digg-btn{
			margin-right: 12px;
			display: block;
			float: left;
			width: 54px;
			height: 68px;
			background-image: url('../images/story_items.png');
			background-position: 101px -26px;
			a:hover{
				text-decoration: none;
			}
			.digg-count{
				margin-bottom: 7px;
				padding-top: 10px;
				display: block;
				text-align: center;
				font-size: 18px;
				font-weight: bold;
				color: #716B14;
			}
			.digg-it{
				margin-left: 4px;
				display: block;
				width: 46px;
				height: 24px;
				background-image: url('../images/story_items.png');
				background-position: 46px -26px;	
			}
		}
		
		.story-item-teaser{
			color: #666;
			word-wrap: break-word;
			&:hover{
				text-decoration: none;
			}
			.timestamp{
				color: #999;
			}
		}
		.crawl4link {
			display: none;
		}
	}

	.story-item-content{
		padding-right: 60px;
	}
	.story-item-media{
		width: 56px;
		float: right;
		a{
			display: block;
			height: 48px;
			border: 4px solid #E5ECF3;
			&:hover{
				border: 4px solid #105CB6;
			}
		}
	}

	.no-media .story-item-content{
		padding-right: 0;
	}
}




